<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">
   <!--  <context:annotation-config /> -->
    
     <!--  // life cycle using xml--> 
   <!--  <bean class="com.springcore.lifecycle.Samosa" name="sm1" init-method="init" destroy-method="destroy">
        <property name="price" value="10" />
    </bean>
    
    
    
    life cycle using interface
    <bean class="com.springcore.lifecycle.Pepsi" name="p1">
      <property name="price" value="20" />
    </bean>
     -->
    
    
    <!-- life cycle using annotation -->
    <bean class="com.springcore.lifecycle.Anno_tation" name="a1">
    
    <property name="subject" value="Maths" />
    
    </bean>
    
    
   <!--  enables annotation of postconstruct and predestroy -->
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>

</beans>
